*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
.icon_youtube{
    display: flex;
    margin-right: 20%;
    margin-left: 1.9%;
    
}
.fa-bars{
    margin-top: 0.3rem;
    margin-right: 1.25rem;
}
h2{
    font-family: Roboto;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}
form{
    margin-right: 25%;
}
input{
    width: 31rem;
    height: 2.5rem;
}
.fa-video-camera{
    margin-right: 1rem;
}

.content{
    display: flex;
}
.real_left_menu{
    width: 30%;
}
.left_menu{
    padding-left: 1rem;
    margin-right: -4rem;
    border-bottom: 2px solid rgb(206, 206, 206);
    margin-bottom: 3rem;
}
.left_menu li:hover{
    background-color: rgb(232, 216, 216);
    padding-left: 1rem;
    
}

.left_menu ul{
    list-style-type: none;
    margin-left: 1.7rem;
    margin-top: 2rem;
}
.menu_orther{
    margin-top: -1.5rem;
}
.content_icon{
    margin-left: 3rem;
    margin-top: -1.3rem;
    margin-bottom: 2.5rem;
    font-family: Roboto;
}
.right_menu{
    margin-left: 5rem;
    border-top: 2px solid rgb(206, 206, 206);
    margin-top: 0.5rem;
}
.right_menu ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
}
.right_menu ul li{
    border: 2px solid gray;
    width: fit-content;
    border-radius: 25px;
    font-family: Roboto;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(246, 242, 242);
    margin-right: 1.7rem;
    padding-left: 0.17rem;
    padding-right: 0.1rem;
}

.video{
    display: grid;
    grid-template: repeat(2, 16rem) / repeat(4, 20rem);
    margin-top: 1rem;
    margin-left: 5rem;
    background-color: rgb(242, 242, 242);
    border-top: 2px solid rgb(206, 206, 206);
}
.common_video{
    width: 18.5rem;
    height: 10.3rem ;
}
.video_1{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
}
.common_content{
    text-decoration: none;
    width:18.5rem;
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
}
/* .container{
    display: flex;
    height: 1000px;
    flex-direction: column;
}

.head{
    background-color: rgb(49, 47, 47);
    height: 50px;
}

.content{
    background-color: blueviolet;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu{
    flex-basis: 20%;
    background-color: rgb(49, 47, 47);
    display: flex;
    flex-flow: column;
    align-self: stretch;
}
.menu ul{
    text-decoration: none;
    list-style-type: none;
}
.menu ul li{
    color: white;
    margin-bottom: 40px;
}
.video{
    flex-basis: 80%;
    background-color: black;
    color: white;
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
}
.row img{
    width: 18rem;
    height: 13rem;
} */